body{
    background-image: url("../resources/5.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
}

#navigationBarContainer{
    width: 100%;
  
}

#contentContainer{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body{
    margin: 0;
    padding: 0;
    background-color: white;
    display: flex;
    flex-direction: column;
}

.mainContainer
{
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: row-reverse;
}

.rightMenuContent
{
    height: auto;
    width: 70%;

}

.leftMenuContent
{
    height: 400px;
    width: 250px;
    margin-top: 25px;
    border-radius: 3%;
    margin-right: 30px;
}

.leftMenuContentItem
{
    height: 70px;
    width: 100%;
    display: flex;
    align-items:  center;
    justify-content: center;
    font-size: 22px;
    font-weight: 530;
}

.leftMenuContentItem:hover
{
    color: yellowgreen;
    transition: 0.3s;
}

.taskItem
{
    width: 70%;
    height: fit-content;
    background-color: whitesmoke;
    margin-top: 25px;
    border-radius: 1%;
    border: 1px solid gray;
    display: flex;
    flex-direction: row;
    padding-left: 20px;
    opacity: 0.9;
}

.leftDiv
{
    width: 60%;
    height: 100%;
}

.rightDiv
{
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 70px;
    padding-top: 80px;

}



.searchByItems
{

}